.calculadora {
    background: rgb(0, 6, 88);
    width: 200px;
    padding: 20px;
    
}
#btnCalc {
    background: rgb(87, 7, 124);
    color:white;
    margin: 10px;
    padding: 5px;
}
#btnCalc:hover{
    background: rgb(201, 140, 230);
    color:rgb(0, 0, 0);
    cursor: pointer;
}
#total {
    padding: 10px;
    margin: 5px;
    background: black;
    color:rgb(248, 250, 250);
}


